VITE_API_URL=http://localhost:8000

# Firebase client-side SDK configs
VITE_FIREBASE_API_KEY=your_client_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=eduvision-ai.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=eduvision-ai
VITE_FIREBASE_STORAGE_BUCKET=eduvision-resumes.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
VITE_FIREBASE_APP_ID=your_app_id
